In [85]:
# A for loop iterates over a sequence of elements, executing the body of the loop for each element in the sequence.

# range() generates a sequence of integer numbers. It can take one, two, or three parameters:

# >>> range(n): 0, 1, 2, ... n-1
# >>> range(x,y): x, x+1, x+2, ... y-1
# >>> range(p,q,r): p, p+r, p+2r, p+3r, ... q-1 (if it's a valid increment)

# Common pitfalls:

""" >>> Forgetting that the upper limit of a range() isn’t included.
    >>> Iterating over non-sequences. 
        Integer numbers aren’t iterable. 
        Strings are iterable letter by letter, but that might not be what you want."""

# For loops are mostly used when there's a pre-defined sequence or range of numbers to iterate.

' >>> Forgetting that the upper limit of a range() isn’t included.\n    >>> Iterating over non-sequences. \n        Integer numbers aren’t iterable. \n        Strings are iterable letter by letter, but that might not be what you want.'

In [86]:
# Break & Continue

""" >>>You can interrupt both while and for loops using the break keyword. We normally do this to interrupt a cycle due to a separate condition.

    You can use the continue keyword to skip the current iteration and continue with the next one. This is typically used to jump ahead when some of the elements of the sequence aren’t relevant."""

' >>>You can interrupt both while and for loops using the break keyword. We normally do this to interrupt a cycle due to a separate condition.\n\n    You can use the continue keyword to skip the current iteration and continue with the next one. This is typically used to jump ahead when some of the elements of the sequence aren’t relevant.'

In [1]:
# The 'Range' function starts printing values from 0 to the (value given)-1
 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
# Sum of squares of numbers between 0 and given number.

def square(n):
    return n*n

def sum_squares(x):
    sum = 0
    for n in range(x):
        sum = sum + square(n)
    return sum



print(sum_squares(10)) # Should be 285

285

In [6]:
Characters = ['goku','vegeta','krillin','gotan','trunks','gohan']

for character in Characters:
    print("Hey Big fan "+character+"!")

Hey Big fan goku!
Hey Big fan vegeta!
Hey Big fan krillin!
Hey Big fan gotan!
Hey Big fan trunks!
Hey Big fan gohan!

In [9]:
# Finding total sum and average of a list of given numbers.

values = [1,2,3,4,5,6,7,8,9,10,11]
length = 0
sum = 0
for value in values:
    sum += value
    length = length+1
    

print('the sum of given numbers is: '+str(sum)+' and the average is: '+str(sum/length))

the sum of given numbers is: 66 and the average is: 6.0

In [10]:
# this program returns the factorial of the given number.
# We can pass 2 values into a range function telling it where to start.

def factorial(n):
    result = 1
    for i in range(1,n):
        result = result*n
        n = n-1
    return result

print(factorial(4)) # should return 24
print(factorial(5)) # should return 120

24
120

In [44]:
# this program multiplies the numbers in the given range.

product = 1

for i in range(1,5):
    product = product *i
print(product)

24

In [42]:
"""To quickly recap the range() function when passing one, two, or three parameters:

One parameter will create a sequence, one-by-one, from zero to one less than the parameter.
Two parameters will create a sequence, one-by-one, from the first parameter to one less than the second parameter.
Three parameters will create a sequence starting with the first parameter and stopping before the second parameter, 
but this time increasing each step by the third parameter. """

'To quickly recap the range() function when passing one, two, or three parameters:\n\nOne parameter will create a sequence, one-by-one, from zero to one less than the parameter.\nTwo parameters will create a sequence, one-by-one, from the first parameter to one less than the second parameter.\nThree parameters will create a sequence starting with the first parameter and stopping before the second parameter, \nbut this time increasing each step by the third parameter. '

In [49]:
# 3 parameters into range function:

def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [58]:
# Example for nested for loop:

for left in range(1,7):
    for right in range(left,7):
        print("["+str(left)+'|'+str(right)+"]", end = " ")

[1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [2|2] [2|3] [2|4] [2|5] [2|6] [3|3] [3|4] [3|5] [3|6] [4|4] [4|5] [4|6] [5|5] [5|6] [6|6]

In [75]:
# Nested for loop another example:

teams = ['Marvel','DC','DBZ','Ben10']

for a_team in teams:
    for b_team in teams:
        if a_team != b_team:
            print(a_team+" vs "+b_team)

Marvel vs DC
Marvel vs DBZ
Marvel vs Ben10
DC vs Marvel
DC vs DBZ
DC vs Ben10
DBZ vs Marvel
DBZ vs DC
DBZ vs Ben10
Ben10 vs Marvel
Ben10 vs DC
Ben10 vs DBZ

In [3]:
# finding factorial of given number:

def factorial(n):
    result = 1
    for x in range(1,n+1):
        result =  result*x 
        n = n-1
    return print(result)

factorial(4)

24

In [5]:
# --

def factorial(n):
    result = 1
    for x in range(1,n):
        result = result * x
    return result

for n in range(0,11):
    print(n, factorial(n+1))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800

In [6]:
# prints the first 10 cube numbers (x**3), starting with x=1 and ending with x=10.

for x in range(1,11):
  print(x**3)

1
8
27
64
125
216
343
512
729
1000

In [8]:
# Write a script that prints the multiples of 7 between 0 and 100

for x in range(0,101):
    if x%7 == 0:
         print(x)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98