In [18]:
def pyaar(name,age):
    print("Name is " +name+ " and age is " +str(age))


pyaar('jerry',17)

Name is jerry and age is 17

In [19]:
def add(a,b):
    print(("the sum is: ")+str(a+b))
    
add(1,2)

the sum is: 3

In [20]:
def square(length, breadth):
    return length * breadth 

square(4,6)

24

In [21]:
def shape_area(length, breadth, height):
    triangle = (height * breadth)/2
    square = length * breadth
    rectangle = length * breadth
    
    return triangle, square, rectangle 

shape_area(2,3,4)

(6.0, 6, 6)

In [27]:
# A function that returns nothing 

def it_will_Return_nothing():
    return nothing

In [26]:
# Defing a simple function to store values in variables and return result using return keyword.  


def stor_values_in_variables(a, b, c):
    x = b + c
    y = a + c
    z = a + b
    return x, y, z

Values = stor_values_in_variables(1 ,2, 3)
print(Values)

(5, 4, 3)

In [1]:
# Creating a function to print lucky number
# using code again and again by just calling a function or simply say Code Reuse


def your_lucky_num(age):
    number=9*age
    result = print("your lucky number is: "+str(number))
    return result

your_lucky_num(5)

your lucky number is: 45

In [16]:
# Creating a function to return month and days in that month 
# used result as a variable to print the output and returned that variable
# Code Reuse


def month_days(month, days):
    result = print(month+" has " +str(days)+" days.")
    return (result)

(month_days("June", 30))
(month_days("July", 31))

June has 30 days.
July has 31 days.

In [3]:
# This function compares two numbers and returns them
# in increasing order.



def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1


(smaller, bigger  )  = order_numbers(100, 99)
print(smaller, bigger)

99 100

In [7]:
# map():
# Example of map() function:

def cube_of(num):
    return num**3

numbers = [1,2,3,4,5,6]

list(map(cube_of, numbers))

[1, 8, 27, 64, 125, 216]

In [4]:
# all() function:

s = [1,2,3,4,5,6]
print(all(s))       # returns true if all are non zero values.

k = [0,1,2,3,4,5]
print(all(k))       # returns false coz we have one 0.

True
False

In [6]:
# any function:

a = [0,1,2,3,4,5]
b = [0,False]
c = []

print(any(a), any(b), any(c))    # prints true even if one value is true......o - False, 1 - True.

True False False

In [8]:
# Round() function:
# gives the nearest value:

print(round(10.4), round(1.222), round(1.5))

10 1 2

In [24]:
# Lamda() function:

x = lambda a:a*5
print(x(10))


# Example of lambda function:

def myfunc(n):
    return lambda a: a**n

square = myfunc(2)
cube = myfunc(3)

print(square(3))
print(cube(3))

50
9
27

In [18]:
# Treating the functions as objects:

# Python program to illustrate functions can be treated as objects
def shout(text):
    return text.upper()

print(shout('Hello'))

yell = shout

print(yell('Hello'))

HELLO
HELLO

In [24]:
# Passing the function as argument:

# Python program to illustrate functions
# can be passed as arguments to other functions
def shout(text):
    return text.upper()

def whisper(text):
    return text.lower()

def greet(func):
    # storing the function in a variable
    greeting = func("""Hi, I am created by a function passed as an argument.""")
    print (greeting)

greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [25]:
# Returning functions from another functions:

# Python program to illustrate functions
# Functions can return another function

def create_adder(x):
	def adder(y):
		return x+y

	return adder

add_15 = create_adder(15)

print(add_15(10))

25

In [1]:
# Mask() function:

# Use mask() function to replace all the values in the dataframe which are greater than 10 with -25

# importing pandas as pd
import pandas as pd
  
# Creating the dataframe 
df = pd.DataFrame({"A":[12, 4, 5, 44, 1],
                   "B":[5, 2, 54, 3, 2],
                   "C":[20, 16, 7, 3, 8],
                   "D":[14, 3, 17, 2, 6]})
  
# Print the dataframe
df

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [2]:
# replace values greater than 10 with -25
df.mask(df > 10, -25)

    A   B   C   D
0 -25   5 -25 -25
1   4   2 -25   3
2   5 -25   7 -25
3 -25   3   3   2
4   1   2   8   6

In [5]:
# Use mask() function with a callable. Replace all the Na value with 1000.


# importing pandas as pd
import pandas as pd
  
# Creating the dataframe 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None],
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]})
  
# replace the Na values with 1000
df.mask(df.isna(), 10)

      A     B   C     D
0  12.0   7.0  20  14.0
1   4.0   2.0  16   3.0
2   5.0  54.0  11  10.0
3  10.0   3.0   3   2.0
4   1.0  10.0   8   6.0

In [7]:
# any()
# This expression returns True if any element of the iterable is true.
# If the iterable is empty, it will return False.

a = any([1>0,1==0,1<0])
b = any([1<0,2<1,3<2])

print(a,b)

True False

In [9]:
# all()
# This expression returns True if all of the elements of the iterable are true. If the iterable is empty, it will return True.

print(all(['a'<'b','b'<'c']))
print(all(['a'<'b','c'<'b']))

True
False

In [7]:
# zip()

a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = dict(zip(a, b))
x

{'John': 'Jenny', 'Charles': 'Christy', 'Mike': 'Monica'}

In [12]:
# zip()

a = [1,2,3,4]
b = ['omi', 'omi1', 'sara', 'sara1']

# list(zip(a,b)), tuple(zip(a,b)), set(zip(a,b))

dict(zip(a,b))

{1: 'omi', 2: 'omi1', 3: 'sara', 4: 'sara1'}

In [17]:
# zip()

for a1, bl in zip(a,b):
    print(a1,bl)

1 omi
2 omi1
3 sara
4 sara1

In [18]:
# zip()

for a1 in zip(a,b):
    print(a1)

(1, 'omi')
(2, 'omi1')
(3, 'sara')
(4, 'sara1')

In [19]:
# Round() function:

print(round(12.12345, 3))
print(round(12.12345, 1))

print(round(12.12345, -1))
print(round(121.34, -2))
print(round(3300.9, -3))

12.123
12.1
10.0
100.0
3000.0

ndigits=-1 rounds to the nearest 10, ndigits=-2 rounds to the nearest 100 and so on.

In [12]:
# absolute value:

abs(-99)

99

In [10]:
# floor and ceil functions:
import math

print(math.floor(88.9))
print(math.ceil(88.1))

88
89